:root {
    --color-video: #ff3000;
    --color-brand-primary: #ff3000;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: auto;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.gallery-item-container {
    flex: 1 0 350px;
    background-color: #eee;
    margin: 2px;
    box-sizing: border-box;
    display: flex;
}

/* add a small triangle to the bottom right corner of the image */
.gallery-item-container.video {
    position: relative;
    border-bottom: 3px solid var(--color-video);
    border-radius: 0 0 4px 4px;
}

.gallery-item-container.video::after {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent var(--color-video) transparent;
    transform: rotate(-45deg);
}

.gallery-item-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*
Element that lays over everything and is opened/closed via js.
It is hidden by default, unless it has the class 'open'.
 */
.fullsize-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.fullsize-container.open {
    visibility: visible;
    opacity: 1;
}

.fullsize-image {
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.fullsize-image img, .fullsize-image video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.6));
    border-radius: 4px;
}

.fullsize-image.loaded {
    visibility: visible;
    opacity: 1;
}

.fullsize-nav {
    position: fixed;
    top: 50%;
    font-size: 2em;
    font-weight: bold;
    color: white;
    z-index: 101;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.fullsize-nav.fullsize-prev {
    left: 30px;
}

.fullsize-nav.fullsize-next {
    right: 30px;
}

.code, code {
    font-family: 'Roboto Mono', monospace;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

.disable-webpage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3000;
}

.disable-webpage.l1 {
    background-color: rgba(255, 255, 255, 0.3);
}

.disable-webpage.l2 {
    background-color: rgba(255, 255, 255, 0.7);
}

.disable-webpage.l3 {
    background-color: rgba(255, 255, 255, 1);
}

.disable-webpage::before, .disable-webpage::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 14%;
    animation: spin 2s infinite linear;
}

.disable-webpage::before {
    border: 8px solid #dedede;
}

.disable-webpage::after {
    border: 10px solid transparent;
    border-top-color: #ff3000;
    border-bottom-color: #ff3000;
    animation-direction: reverse;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.clickable {
    cursor: pointer;
}

.gallery-navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 80%, rgb(255, 255, 255) 100%);
    transition: all 0.2s ease-in-out;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
    box-shadow: inset -20px 0 40px rgba(255, 255, 255, 0.5), 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.gallery-navigation:hover, .gallery-navigation.open {
    width: 90px;
    opacity: 1;
}

.gallery-navigation-popover {
    position: fixed;
    right: 110px;
    width: fit-content;
    max-width: 600px;
    background-color: #f8f9fa;
    pointer-events: none;
    display: inline-flex;
    flex-direction: row;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #212529;
    padding: 8px;
    border-radius: 0.25rem;
}

.popover-content-description {
    padding: 10px;
    width: fit-content;
    background-color: #e9ecef;
    border-right: 1px solid #dee2e6;
    border-radius: 0.25rem 0 0 0.25rem;
    font-family: 'Roboto Mono', monospace;
}

.popover-content-date {
    padding: 10px;
    width: fit-content;
    background-color: var(--bs-blue);
    color: #fff;
    border-radius: 0 0.25rem 0.25rem 0;
}

.gallery-navigation-current-index {
    position: fixed;
    right: 0;
    width: 80px;
    height: 6px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, var(--bs-blue) 15%);
    pointer-events: none;
}
