:root {
    --color-video: #ff3000;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.gallery-item-container {
    flex: 1 0 350px;
    background-color: #eee;
    margin: 2px;
    box-sizing: border-box;
    display: flex;
}

/* add a small triangle to the bottom right corner of the image */
.gallery-item-container.video {
    position: relative;
    border-bottom: 3px solid var(--color-video);
    border-radius: 0 0 4px 4px;
}

.gallery-item-container.video::after {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent var(--color-video) transparent;
    transform: rotate(-45deg);
}

.gallery-item-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*
Element that lays over everything and is opened/closed via js.
It is hidden by default, unless it has the class 'open'.
 */
.fullsize-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.fullsize-container.open {
    visibility: visible;
    opacity: 1;
}

.fullsize-image {
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.fullsize-image img, .fullsize-image video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.6));
    border-radius: 4px;
}

.fullsize-image.loaded {
    visibility: visible;
    opacity: 1;
}

.fullsize-nav {
    position: fixed;
    top: 50%;
    font-size: 2em;
    font-weight: bold;
    color: white;
    z-index: 101;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border-radius: 100%;
    width: 47px;
    height: 47px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.7));
}

.fullsize-nav.fullsize-prev {
    left: 30px;
}

.fullsize-nav.fullsize-next {
    right: 30px;
}

.code {
    font-family: 'Roboto Mono', monospace;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

.disable-webpage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3000;
    background-color: rgba(255, 255, 255, 0.3);
}
